@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

/* *{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
} */

/* html,
body {
  margin: 0;
} */
.main {
  /* background-image: url('https://images.unsplash.com/photo-1573496782646-e8d943a4bdd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80'); */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.body{
  font-size: 14px;
  background-color: transparent;
  width: 400px;
  height:500px;
  perspective: 1000px;
}
.fullScreenContainer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.loginContainer,.signupContainer {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: hsla(201, 100%, 6%, 0.6);
  padding: 50px 30px;
  min-width: 400px;
  width: 50%;
  max-width: 600px;
}

.loginTitle {
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.5em;
  font-weight: normal;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup label {
  color: #fff;
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.inputGroup input {
  font-size: 1.5em;
  padding: 0.1em 0.25em;
  background-color: hsla(201, 100%, 91%, 0.3);
  border: 1px solid hsl(201, 100%, 6%);
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: lighter;
}

.inputGroup input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}

.loginButton {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  background: hsla(201, 100%, 50%, 0.1);
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  font-size: 1.5em;
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: hsla(201, 100%, 50%, 0.3);
}

.loginButton:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}


.rotateY180{
  transform: rotateY(180deg);
}
/* .body:hover .fullScreenContainer {
  transform: rotateY(180deg);
} */

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.signupContainer, .loginContainer {
  position: absolute;
}

/* .flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
} */

.loginContainer {
  color: black;
}

/* .flip-card-front {
  background-color: brown;
  color: black;
} */

.signupContainer {
  transform: rotateY(180deg);
}

/* .flip-card-back {
  background-color: green;
  color: white;
  transform: rotateY(180deg);
} */
